* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a, :visited {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer;
}

/* 
 * Для выделения клавишей Tab (accessibility)
 */
button:focus-visible {
  outline: auto;
}

button, input, select, optgroup, textarea {
  font-family: inherit;
  font-size: 100%;
}

ul, ul > li {
  list-style: none;
}